@*@*@model Catagories

@*<form asp-controller="Reports" asp-action="Index" method="post">
    <select asp-for="Id" asp-items="@(new SelectList(ViewBag.catagoriesLists,"Id","Catagory"))" class="form-control"></select>
    <br /><button type="submit">Register</button>
</form>

@*<p class="text-white">@Model.Id helll</p>*@*@*@*@
