@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


    <div class="report-details-container shadow text-center">
        
        <h2>@ViewData["Title"]</h2>
        <div class="col-md-12">
            <p>
                Thank you for confirming your email.
            </p>
        </div>
    </div>
