@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<div class="report-details-container shadow text-center">

    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
    <p class="text-danger">
        To reclaim this account please send an email to <strong>nemesystestingemail@gmail.com</strong>
    </p>
</div>